<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="smithbloghk.currencyconverter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>海外簽賬計算機</name>
  <description>
        Simple Currency Convertor App for Traveling
    </description>
  <author email="smithblog2015@gmail.com" href="http://smithbloghk.wordpress.com/">
      Smith Blog
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
