<ion-footer-bar class="bar-stable calculator-pad no-padding">

    <div class="row no-padding">
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('7')">7</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('8')">8</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('9')">9</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key button-assertive" ng-click="del()">AC</button>
        </div>
    </div>

    <div class="row no-padding">
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('4')">4</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('5')">5</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('6')">6</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('00')">00</button>
        </div>
    </div>

    <div class="row no-padding">
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('1')">1</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('2')">2</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('3')">3</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('000')">000</button>
        </div>
    </div>

    <div class="row no-padding">
        <div class="col-50 no-padding">
            <button class="button button-block button-key" ng-click="add('0')">0
            </button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key" ng-click="add('.')">.</button>
        </div>
        <div class="col no-padding">
            <button class="button button-block button-key ion-chevron-down" ng-click="done()"></button>
        </div>
    </div>

</ion-footer-bar>